<html>
  <head>
    <title>weather</title>
    <link rel="stylesheet" href="/proj_1.0.1/css/weather_18c50b8.css">
  </head>
  <body>
    <div class="main">我只天气</div>
    <div class="bg">hahha</div>
    <button class="btn btn-submit">提交</button>
    <img src="/proj_1.0.1/images/weather/c13_0620325.gif" alt="">
    
    <!-- ko foreach:{data:activeData,as:"value"} -->
    <a class="main" href="https://github.com/shunzizhan">我的git主页</a>
    <a href="http://blog.csdn.net/u011613356/article/details/51914528">knockout技术分享</a>
    

    
    
  </body>
  <script src="/proj_1.0.1/js/weather.js"></script>
</html>