@charset "UTF-8";
/*
    common  主文件文件入口
*/
/*
  variables.less  公共参数
*/
/*提示文字颜色*/
/*账号设置导航栏背景色*/
/*强制换行*/
/*禁止换行*/
/*
    ico.less  部分css图标
 */
.bg {
  background: url(/public/images/act-house.png);
}
.qq-ico {
  background: url(/public/images/bind-background.png);
}
.arrow {
  position: relative;
}
.arrow::after {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  background: url('http://img3.fdc.com.cn/usercenter/images/ico/arrow.png') 0 0 no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 0px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
}
.arrow:hover::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ico-yes,
.ico-no {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url('http://img3.fdc.com.cn/usercenter/images/ico/check-ico.png') 0 0 no-repeat;
  position: relative;
  top: 5px;
}
.ico-yes {
  background-position: -33px 0;
}
.ico-require {
  color: #ff3300;
  padding: 5px;
  vertical-align: middle;
  font-style: normal;
}
/*
    btn.less  按钮
    詹顺怀 
    20160107 
 */
button {
  outline: none;
}
/**
 * 基础的 所有涉及到按钮的 均需引用该基础样式
 * 然后根据需求，对样式进行覆盖 命名 .btn-XXX
 *
 * 所有按钮 悬浮是背景颜色加深15%  darken(@color-default, 15%);
 */
.btn {
  display: inline-block;
  min-width: 80px;
  padding: 8px 10px;
  margin: 0 5px;
  line-height: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  text-align: center;
  color: #ffffff;
  background-color: #007dd4;
  border: 0;
  cursor: pointer;
}
.btn-default.hover {
  background-color: #d81414;
}
/*csbaseinfo 
编辑按钮*/
.btn-dataedit {
  width: 80px;
  padding: 0;
  height: 40px;
  line-height: 40px;
  color: #005fa1;
  background: #a1d8ff;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-dataedit:hover {
  background: #089aff;
}
.btn-submit {
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  padding: 0;
  width: 80px;
  height: 40px;
  line-height: 40px;
}
.btn-submit:hover {
  background-color: #005fa1;
}
/*csmodifyPic 
确认上传按钮*/
.btn-submits {
  padding: 0px;
  width: 80px;
  height: 40px;
  float: right;
}
.btn-submits:hover {
  background: #005fa1;
}
/*csmodifyPic 
重新上传按钮*/
.btn-reupload {
  padding: 0px;
  width: 100px;
  height: 40px;
  line-height: 37px;
  text-align: center;
  color: #005fa1;
  background: #a1d8ff;
  position: relative;
  left: 0;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  margin: 0 auto;
  border-radius: 2px;
  float: left;
}
.btn-reupload:hover {
  background: #089aff;
}
/*csBoundPhone
发送验证码*/
.btn-sendrank {
  margin: 0;
  padding: 0;
  border: 1px solid #007dd4;
  color: #005fa1;
  background: #a1d8ff;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-sendrank:hover {
  background: #089aff;
}
/*regGetPwd
登录*/
.login {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
}
/*regResetPwdByCode
返回 确定*/
.btn-return {
  background: #cccecc;
  color: #007dd4;
  background: #cce6f7;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-return:hover {
  background: #a0d0f0;
}
.btn-delete {
  min-width: auto;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0px 17px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #999999;
  border-radius: 5px;
  color: #999999;
  background-color: #ffffff;
  cursor: pointer;
}
.btn-delete:hover {
  background: #007dd4;
  color: #ffffff;
  border: 0;
}
/**
 * 按钮置灰，禁止点击
 */
.btn-disabled {
  pointer-events: none;
  background: #eaeaea;
  color: #666666 !important;
}
/**
 * 禁止点击
 */
.btn-require {
  pointer-events: none;
}
/*
    border.less  边框&分隔线&圆角&阴影
 */
.border {
  border: 1px solid #dddddd;
}
.border.only-left {
  border: 1px solid transparent;
  border-left: #dddddd;
}
.border.only-right {
  border: 1px solid transparent;
  border-right: #dddddd;
}
.border.only-top {
  border: 1px solid transparent;
  border-top: #dddddd;
}
.border.only-bottom {
  border: 1px solid transparent;
  border-bottom: #dddddd;
}
hr {
  border: none;
}
hr.hr-solid {
  border-top: 1px solid #dddddd;
  display: block;
  width: 100%;
  height: 0;
}
hr.hr-dotted {
  border-top: 1px dotted #dddddd;
  display: block;
  width: 100%;
  height: 0;
}
hr.hr-dashed {
  border-top: 1px dashed #dddddd;
  display: block;
  width: 100%;
  height: 0;
}
.radius {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.radius.radius-lg {
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}
.radius.radius-full {
  -webkit-border-radius: 1000px 1000px 1000px 1000px;
  -moz-border-radius: 1000px 1000px 1000px 1000px;
  -ms-border-radius: 1000px 1000px 1000px 1000px;
  -o-border-radius: 1000px 1000px 1000px 1000px;
  border-radius: 1000px 1000px 1000px 1000px;
}
.shadow {
  -webkit-box-shadow: 0px 0px 6px #dddddd;
  -moz-box-shadow: 0px 0px 6px #dddddd;
  -ms-box-shadow: 0px 0px 6px #dddddd;
  -o-box-shadow: 0px 0px 6px #dddddd;
  box-shadow: 0px 0px 6px #dddddd;
}
.posts-type {
  font-size: 14px;
  width: 16px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background: url(http://img3.fdc.com.cn/usercenter/images/ico/posts-type.png) no-repeat;
}
.posts-ptong {
  display: none;
}
.posts-wen {
  background-position: 0 0;
}
.posts-ji {
  background-position: -16px 0;
}
.posts-tou {
  background-position: -32px 0;
}
.posts-huo {
  background-position: -48px 0;
}
/*
    link.less 链接
 */
a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
a:hover {
  text-decoration: none;
}
a.href {
  text-decoration: underline;
}
a.href:hover {
  text-decoration: underline;
}
.link-default {
  color: #ee4b4b;
}
.link-default:hover {
  text-decoration: underline;
}
.link-gray {
  color: #666666;
}
.link-gray:hover {
  text-decoration: underline;
}
.link-main {
  color: #007dd4;
}
.link-main:hover {
  text-decoration: underline;
}
