<html>
  <head>
    <title>weather</title>
    <link rel="stylesheet" href="/house_1.0.2/css/weather_78fc620.css">
  </head>
  <body>
    <div class="main">我只天气</div>
    <div class="bg">hahha</div>
    <button class="btn btn-submit">提交</button>
    <img src="/house_1.0.2/images/weather/c13_0620325.gif" alt="">
    
    <!-- ko foreach:{data:activeData,as:"value"} -->
    <a class="main" href="https://github.com/shunzizhan">我的git主页</a>
    <a href="http://blog.csdn.net/u011613356/article/details/51914528">knockout技术分享</a>
    

    
    
  </body>
  <script src="/public/libs/jquery/dist/jquery.min.js"></script>
  <script src="/house_1.0.2/js/weather.js"></script>  
</html>